<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Add Drug</title>
</head>
<body>
<div class="container center-align">
    <div class="center-align">
        <h1>Add Drug</h1>
        <form th:action="@{/drugs/addDrug/submit}" th:object="${drug}" method="post">
            <br><label for="name">Name:</label>
            <input id="name" type="text" th:field="*{name}"/>
            <br><label for="code">Code:</label>
            <input id="code" type="number" th:field="*{code}"/>
            <br><label for="producer">Producer:</label>
            <input id="producer" type="text" th:field="*{producer}"/>
            <br><label for="additionalNote">Additional Note:</label>
            <input id="additionalNote" type="text" th:field="*{additionalNote}"/>
            <br><label for="loyaltyPoints">Loyalty Points:</label>
            <input id="loyaltyPoints" type="number" th:field="*{loyaltyPoints}"/>
            <br><label for="quantity">Quantity:</label>
            <input id="quantity" type="number" th:field="*{quantity}"/>

            <div class="form-group">
                <label for="drugType">Type:</label>
                <select class="form-control" id="drugType" th:field="*{drugType}">
                    <option value="">Select a type</option>
                    <option th:each="drugTypeOpt : ${T(ftn.isa.sistemapoteka.model.DrugType).values()}"
                            th:value="${drugTypeOpt}"
                            th:text="${drugTypeOpt.getDisplayName()}"></option>
                </select>
            </div>
            <br>

            <div class="form-group">
                <label for="drugShape">Shape:</label>
                <select class="form-control" id="drugShape" th:field="*{drugShape}">
                    <option name="drugShape" value="">Select a shape</option>
                    <option name="drugShape" th:each="drugShapeOpt : ${T(ftn.isa.sistemapoteka.model.DrugShape).values()}"
                            th:value="${drugShapeOpt}"
                            th:text="${drugShapeOpt.getDisplayName()}"></option>
                </select>
            </div>
            <br>

            <div class="form-group">
                <label for="drugShape">Choose replacement drugs:</label>
                <select class="form-control" th:field="*{replacementDrugs}" multiple="multiple" >
                    <option th:each="drug : ${drugs}"
                    th:field="*{replacementDrugs}"
                    th:value="${drug.id}"
                    th:text="${drug.name} + ' ' + ${drug.code}">Drug name and drug code
                    </option>
                </select>
            </div>
            <br>

            <div class="form-group">
                <label>On Prescription:</label>
                <input name="onPrescription" type="radio" th:field="*{onPrescription}" value="1" checked>Yes
                <input name="onPrescription" type="radio" th:field="*{onPrescription}" value="0">No
            </div>

            <br>
            <h4>Drug Specification</h4>
            <br><label for="contraindications">Contraindications:</label>
            <input id="contraindications" type="text" th:field="*{contraindications}"/>
            <br><label for="structure">Structure:</label>
            <input id="structure" type="text" th:field="*{structure}"/>
            <br><label for="state">Daily Intake:</label>
            <input id="state" type="number" th:field="*{dailyIntake}"/>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>