<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Clients</title>
</head>
<body>

    </div>
    <div class="col col-lg-5">
        <div col col-lg-6>
            <h5>Sort by Name </h5>
            <a th:href="${'/myPharmacy/clients/allPatients/sortByNameAsc'}">Ascending</a>
            </br><a th:href="${'/myPharmacy/clients/allPatients/sortByNameDesc'}">Descending</a> </br>
            <br>
            <h5>Sort by Surname</h5>
            <a th:href="${'/myPharmacy/clients/allPatients/sortBySurnameAsc'}">Ascending</a>
            </br><a th:href="${'/myPharmacy/clients/allPatients/sortBySurnameDesc'}">Descending</a> </br>
            <br>
        </div>
    </div>
            <td> <a th:href="${'/myPharmacy/users/user/' + user.getId()}" th:text="${user.firstName}" th:text="${user.lastName}"> </a></td>


    </br>

    <div class="row">
        <div class="col col-lg-5">
            <form th:action="@{'/user/allUsers'}" method="get">
                <input type="text" placeholder="Name, Surname.." name="keyword"/>
                <button type="submit" class="btn btn-dark mt-2">Search</button>
            </form>
        </div>
    </div>

    </br>

    <div>
        <table id="users" width="90%">
            <tr>
                <th>Id:</th>
                <th>First name:</th>
                <th>Last name:</th>
                <th sec:authorize="hasRole('PHARMACIST','DERMATOLOGIST')"></th>
            </tr>
            <tr th:each="drug:${drugs}">
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
            </tr>
        </table>
    </div>


</body>
</html>