<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Complaints</title>
</head>
<body>
<table id="complaints">
    <tr>
        <th>Id:</th>
        <th>Sender:</th>
        <th>Pharmacist Id:</th>
        <th>Dermatologist Id:</th>
        <th>Pharmacy Id:</th>
        <th sec:authorize="hasRole('SYS_ADMIN')">Read Complaint</th>
        <th sec:authorize="hasRole('SYS_ADMIN')">Response</th>
    </tr>
    <tr th:each="complaint:${complaints}">
        <td th:text="${complaint.id}"></td>
        <td th:text="${complaint.patient.id}"></td>
        <td th:text="${complaint.pharmacistId}"></td>
        <td th:text="${complaint.dermatologistId}"></td>
        <td th:text="${complaint.pharmacyId}"></td>
        <td><a th:href="${'/myPharmacy/complaints/readComplaint/'+ complaint.id}">Read</a></td>
        <td th:if="${complaint.isAnswered}"><a th:href="${'/myPharmacy/complaints/sendResponse/'+ complaint.id}" disabled="disabled" onclick="return false">Send Response</a></td>
        <td th:unless="${complaint.isAnswered}"><a th:href="${'/myPharmacy/complaints/sendResponse/'+ complaint.id}">Send Response</a></td>

    </tr>
</table>
</body>
</html>