<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Pharmacies</title>
</head>
<body>
<h3>Available at:</h3>
<table id="pharmacies">
    <tr>
        <th>Name:</th>
        <th>Address:</th>
        <th>Average Rating:</th>
        <th>Price:</th>
    </tr>
    <tr th:each="pharmacy:${pharmacies}">
        <td> <a th:href="${'/myPharmacy/pharmacies/pharmacy/' + pharmacy.key.id}" th:text="${pharmacy.key.name}"> </a></td>
        <td th:text="${pharmacy.key.address}"></td>
        <td th:text="${pharmacy.key.averageRating}"></td>
        <td th:text="${pharmacy.value}"></td>
    </tr>
</table>
</body>
</html>