<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="css/materialize.min.css" media="screen,projection" rel="stylesheet" type="text/css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <!-- Compiled and minified CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Edit pharmacy</title>
</head>
<div class="container">
    <div class="center-align blue lighten-5">
        <h1>Pharmacy</h1>
        <form method="post" th:action="@{/pharmacies/updatePharmacy/pharmacy/__${id}__}" th:object="${pharmacy}">
            <br><label for="name">Name:</label>
            <input id="name" th:field="*{name}" type="text"/>
            <br><label for="address">Address:</label>
            <input id="address" th:field="*{address}" type="text"/>
            <br><label for="description">Description:</label>
            <input id="description" th:field="*{description}" type="text"/>
            <br>
            <label for="days">Dermatologist work hours:</label>
            <div class="table">
                <table id="days">
                    <tr>
                        <th>Starting day</th>
                        <th>Last day</th>
                        <th>Starting time</th>
                        <th>Ending time</th>
                    </tr>
                    <tr th:each="day:${dermatologistFreeDays}">
                        <td th:text="${day.beggining}"></td>
                        <td th:text="${day.end}"></td>
                        <td th:text="${day.dayBeggining}"></td>
                        <td th:text="${day.dayEnd}"></td>
                        <td><a>Add days</a></td>
                        <td><a>Edit days</a></td>
                    </tr>
                </table>
            </div>
            <br>

            <div class="form-group">
                <button class="btn btn-block btn-success" type="submit">Submit</button>
            </div>
        </form>
        <a>Pharmacists</a>
        <br>
        <a>Dermatologists</a>
        <br>
        <a>Drugs and prices</a>
    </div>
</div>
<body>
</body>
</html>