<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>SysAdmin</title>
</head>
<body>
<h3 class="container center-align">System Admin Home</h3>
<a th:href="${'/myPharmacy/auth/logout'}">Logout</a>
<br>
<a th:href="${'/myPharmacy/pharmacies/registerPharmacy'}">Register New Pharmacy</a>
<br>
<a th:href="${'/myPharmacy/pharmacies/allPharmacies'}">Pharmacies</a>
<br>
<a th:href="${'/myPharmacy/user/registerDermatologist'}">Register New Dermatologist</a>
<br>
<a th:href="${'/myPharmacy/user/registerSupplier'}">Register New Supplier</a>
<br>
<a th:href="${'/myPharmacy/user/registerSystemAdmin'}">Register New System Administrator</a>
<br>
<a th:href="${'/myPharmacy/drugs/'}">Drugs</a>
<br>
<a>Loyalty Program</a>

</body>
</html>